[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
scipy = "*"
matplotlib = "*"
ipython = "*"
jupyter = "*"
pandas = "*"
python-speech-features = "*"
mido = "*"
tensorflow = "*"
cython = "*"
ipykernel = "*"
requests = "*"
plotly = "*"
pygame = "*"
nbformat = "*"
"midi2audio" = "*"


[dev-packages]



[requires]

python_version = "3.6"
